<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<!--namespace：必须是指定mapper接口的全限定类名-->
<mapper namespace="com.beetle.hanghua.accountcenter.mapper.LoginMapper">
    <!--id: 必须是mapper接口的方法名-->
    <!--parameterType:参数类型 -->
    <!--resultType: 结果集所映射的类型，填写实体类的完整名字-->


    <select id="getUserInfoByAccount" parameterType="string" resultType="com.beetle.hanghua.accountcenter.entity.User">
                        SELECT
                    u.account,
                    u.PASSWORD,
                    u.nickName,
                    u.birthDay,
                    u.email,
                    u.avatar,
                    u.LEVEL,
                    u.credit,
                    u.accountStatus,
                    u.lastLoginTime,
                    u.login_type
                FROM
                    USER u
                WHERE
                    u.account = #{account}
                    AND u.PASSWORD = #{passWord}
    </select>


    <select id="isValidAccount" parameterType="string" resultType="java.lang.Integer">
                SELECT
                    count( u.id )
                FROM
                    USER u
                WHERE
                    u.account = #{account};
    </select>




</mapper>